### Site Settings ###
title               : Diogo Barroso
description         : >-
                      I am a game programmer,
                      love creating great experiences
                      and making them accessible.
baseurl             : ""            # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
repository          : diogobarroso/diogobarroso.github.io      # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
remote_theme        : diogobarroso/portfolYOU
open_new_tab        : false                    # Opens external URLs in new tab (works for posts, projects and navbar only)

domain: diogobarroso.dev
url: https://diogobarroso.dev

### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md
  - pages/blog.html


### Author Info ###
author:
  name              : Diogo Barroso
  image             : https://cloud.diogobarroso.dev/core/preview?fileId=43980&x=3440&y=1440&a=true&etag=97738de6f76f0ea5beb9ca88d8d47d1d
#  behance           : your_username
# dribbble          : your_username
  email             : iamdiogobarroso@gmail.com
#  facebook          : your_username
  github            : diogobarroso
# gitlab            : your_username
# instagram         : your_username
# kaggle            : your_username
  linkedin          : diogobarroso
#  medium            : your_username
# soundcloud        : your_username
# spotify           : your_username
# stackoverflow     : your_user_id
# tumblr            : your_username.tumblr.com
# twitch            : your_username
# twitter           : your_username
# vimeo             : your_username
# youtube           : your_channel_name
# keybase           : your_username


### Posts ###
#permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /portfolio/:name


### Disqus ###
disqus:
  shortname: your-short-name-disqus                     # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: false                                        # Set true to enable analytics
  google:
    tracking_id: your-google-tracking-id


### Buy me a coffee ###
# See https://www.buymeacoffee.com/
buymeacoffee:
  enabled: false
  username: your_username
  color: "#007bff"
  message: "Thank you for visiting."                    # Message to be displayed aside from the button for a few seconds.
  description: "Support me on Buy me a coffee!"


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
#  - scope:
#      path: ""
#      type: "posts"
#    values:
#      comments: false                                   # Set to true to enable disqus comments


### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
